.search-bar {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.search-bar input[type="text"] {
    width: calc(100% - 180px);
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-bar button {
    width: 160px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.center-container {
    background: linear-gradient(rgba(110, 208, 93, 0.38), rgba(242, 242, 242, 0.7));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

.centers-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.centers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.center {
    text-align: center;
    width: calc((100% - 40px) / 4);
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.center img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.center-info {
    text-align: left;
}

.center-info p {
    margin: 5px 0;
    color: #333;
}

div.add-center {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

#add-center-btn {
    font: inherit;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .center {
        text-align: center;
        width: 100%;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .center-container {
        width: 70%;
        padding: 30px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .center {
        text-align: center;
        width: calc((100% - 40px) / 4);
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .center {
        text-align: center;
        width: calc((100% - 40px) / 4);
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 280px) and (max-width: 320px) {
    .center {
        text-align: center;
        width: 80%;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .center-container {
        padding: 30px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    .center {
        text-align: center;
        width: calc((100% - 40px) / 4);
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }
}