.admin-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.admin-box {
    background-color: #ffffff;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

.admin-btn, .visit-btn, .inmate-btn, .center-btn, .stats-btn {
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.admin-btn:hover, .visit-btn:hover, .inmate-btn:hover, .center-btn:hover, .stats-btn:hover {
    background-color: #4CAF50;
}

.admin-box p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #333;
}

@media screen and (max-width: 768px) {
    .admin-content {
        height: 76vh;
    }

    .admin-box {
        width: 80%;
    }

    .admin-btn {
        width: 200px;
        height: 40px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .admin-content {
        height: 80vh;
    }

    .admin-box {
        width: 60%;
    }

    .admin-btn {
        width: 200px;
        height: 40px;
        font-size: 15px;
    }
}
