main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(rgba(242, 242, 242, 0.7), rgba(242, 242, 242, 0.7));
    border: 1px solid #ddd;
    border-radius: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    margin-bottom: 5px;
    color: #555;
}

.input-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container p {
    color: #333;
}

.forgot-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.forgot-password-container {
    background: linear-gradient(rgba(131, 208, 93, 0.7), rgba(242, 242, 242, 0.7));
    padding: 40px 60px 50px 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.forgot-password-container button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .forgot-password-container {
        padding: 10px 20px 20px 10px;
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    .forgot-password-section {
        padding: 20px;
    }
}
