.toggle-password {
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.input-group {
    position: relative;
}

.input-group input[type="password"] {
    padding-right: 30px;
}

input[type="password"]::-ms-reveal {
    display: none;
}
