body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(110, 208, 93, 0.38), rgba(242, 242, 242, 0.7));
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="tel"],
.input-group input[type="date"],
.input-group input[type="time"],
.input-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-group input[type="tel"] {
    width: calc(100% - 22px);
}

.input-group small {
    color: #999;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

.register-container {
    background: linear-gradient(rgba(110, 208, 93, 0.38), rgba(242, 242, 242, 0.7));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.header-content h1:hover {
    color: #45a049;
}

.login-register {
    display: flex;
}

.login-register a {
    margin-right: 10px;
}

.login-register button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(rgba(242, 242, 242, 0.7), rgba(242, 242, 242, 0.7));
    border: 1px solid #ddd;
    border-radius: 30px;
}
