footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: auto;
    min-height: 30px;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    footer {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    footer {
        font-size: 27px;
    }
}

@media screen and (min-width: 280px) and (max-width: 320px) {
    footer {
        font-size: 13px;
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    footer {
        font-size: 16px;
    }
}