div.login-register {
    display: flex;
    flex-wrap: wrap;
}

.login-register button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-register button:hover {
    background-color: #45a049;
}

.login-register button:active {
    background-color: #3e8e41;
}