div.login-register {
    display: flex;
    flex-wrap: wrap;
}

.login-register button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-register button:hover {
    background-color: #45a049;
}

.login-register button:active {
    background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
    div.login-register {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login-register {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .login-register button {
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .login-register {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .login-register button {
        font-size: 35px;
        padding: 10px 30px;
    }
}

@media screen and (min-width: 280px) and (max-width: 320px) {
    .login-register {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .login-register button {
        font-size: 15px;
        padding: 10px 30px;
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    .login-register {
        flex-direction: column;
        align-items: center;
        margin-top: -10px;
    }

    .login-register button {
        font-size: 16px;
        padding: 10px 30px;
    }

    .login-container {
        padding: 10px 20px 20px 10px;
        margin-top: -50px;
    }
}